<form action="/add" method="post" class="container"
    style="padding: 30px;  max-width: 400px; margin: 10px auto; background-color: aquamarine;">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4 ">
        <div class="form-outline mb-4 " style="text-align: center;">
            <h3> New </h3>
        </div>

        <div class="col">
            <div class="form-outline">
                <input type="text" id="idSP" class="form-control" name="idSP" required />
                <label class="form-label" for="">mã sản phẩm</label>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <input type="text" id="tenSP" class="form-control" name="tenSP" required/>
                <label class="form-label" for="tenSP">tên sản phẩm</label>
            </div>
        </div>
    </div>
    <div class="form-outline mb-4">
        <input type="text" id="anhSP" class="form-control" name="anhSP" required/>
        <label class="form-label" for="anhSP">ảnh sản phẩm</label>
    </div>
    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="text" id="sizeSP" class="form-control" name="sizeSP" required/>
        <label class="form-label" for="sizeSP">kích thước</label>
    </div>
    <div class="form-outline mb-4">
        <input type="number" id="giaNhap" class="form-control" name="giaNhap" required/>
        <label class="form-label" for="giaNhap">giá nhập sản phẩm</label>
    </div>
    <div class="form-outline mb-4">
        <input type="number" id="giaBan" class="form-control" name="giaBan" required/>
        <label class="form-label" for="giaBan">giá bán sản phẩm</label>
    </div>
    <div class="form-outline mb-4">
        <input type="number" id="SoLuong" class="form-control" name="SoLuong" required/>
        <label class="form-label" for="SoLuong">Số lượng</label>
    </div>


    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">add</button>



</form>