<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <nav>
    <h1><a href="/">Quần Áo</a></h1>
    <ul>
      <li >Welcome, <span style="font-weight: bold; color: brown;">Nhóm 8</span></li>
      <li><a href="/users">Quản lý user</a></li>
    </ul>
  </nav>